html {
  scroll-behavior: smooth;
}
#app {
  background: #e3dbd0;
  color: rgba(0, 0, 0, 0.6);
}
#main {
  height: 100%;
  margin-left: 100px;
}
.turn-black:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: #ffeb58 !important;
  transition: 0.3s;
}
.cursor:hover {
  background: #ffeb58;
  transition: 0.3s;
}
.width-1100 {
  max-width: 1100px;
}
.p {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.parallax {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.caption {
  font-family: 'Caveat', cursive !important;
}

@media screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}